{% extends 'base/base.html' %}
{% block title %}Payslip{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3>Payslip - {{ object.payroll_entry.staff.user.full_name|default:object.payroll_entry.staff.user.email }}</h3>
    <p class="mb-0">Period: {{ object.payroll_entry.payroll_period }}</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h5>Employee Information</h5>
        <table class="table table-borderless">
          <tr><th>Name:</th><td>{{ object.payroll_entry.staff.user.full_name|default:object.payroll_entry.staff.user.email }}</td></tr>
          <tr><th>Staff Number:</th><td>{{ object.payroll_entry.staff.staff_number }}</td></tr>
          <tr><th>Period:</th><td>{{ object.payroll_entry.payroll_period }}</td></tr>
        </table>
      </div>
      <div class="col-md-6">
        <h5>Salary Structure</h5>
        <table class="table table-borderless">
          <tr><th>Grade:</th><td>{{ object.payroll_entry.staff_salary.salary_structure.name }}</td></tr>
          <tr><th>Basic Salary:</th><td>KSH {{ object.payroll_entry.basic_salary|floatformat:2 }}</td></tr>
        </table>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-6">
        <h5>Earnings</h5>
        <table class="table table-bordered">
          <tr>
            <th>Basic Salary</th>
            <td>KSH {{ object.payroll_entry.basic_salary|floatformat:2 }}</td>
          </tr>
          {% for allowance_item in object.payroll_entry.allowance_items.all %}
          <tr>
            <td>{{ allowance_item.allowance.name }}</td>
            <td>KSH {{ allowance_item.amount|floatformat:2 }}</td>
          </tr>
          {% endfor %}
          <tr class="table-success">
            <th>Gross Salary</th>
            <td><strong>KSH {{ object.payroll_entry.gross_salary|floatformat:2 }}</strong></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h5>Deductions</h5>
        <table class="table table-bordered">
          <tr>
            <th>NHIF</th>
            <td>KSH {{ object.payroll_entry.nhif|floatformat:2 }}</td>
          </tr>
          <tr>
            <th>NSSF (Employee)</th>
            <td>KSH {{ object.payroll_entry.nssf_employee|floatformat:2 }}</td>
          </tr>
          <tr>
            <th>PAYE</th>
            <td>KSH {{ object.payroll_entry.paye|floatformat:2 }}</td>
          </tr>
          {% for deduction_item in object.payroll_entry.deduction_items.all %}
          <tr>
            <td>{{ deduction_item.deduction.name }}</td>
            <td>KSH {{ deduction_item.amount|floatformat:2 }}</td>
          </tr>
          {% endfor %}
          <tr class="table-danger">
            <th>Total Deductions</th>
            <td><strong>KSH {{ object.payroll_entry.total_deductions|floatformat:2 }}</strong></td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-12">
        <div class="card bg-primary text-white">
          <div class="card-body text-center">
            <h4>Net Salary: KSH {{ object.payroll_entry.net_salary|floatformat:2 }}</h4>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-3">
      <a href="{% url 'payroll:payslip_list' %}" class="btn btn-secondary">Back</a>
    </div>
  </div>
</div>
{% endblock %}

