<!-- templates/auth/password_reset_email.html -->
{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your PWASMS account associated with this email address.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'portal:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.

---
PCEA Wendani Academy
School Management System (PWASMS)

This is an automated message. Please do not reply to this email.
{% endautoescape %}